/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.border-bottom-black{
    border-bottom: 1px solid black;
}

.border-top-black{
   border-top: 1px solid black;
}

.blog-card:hover {
    cursor: pointer;
    background: rgb(220, 220, 220); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.small-card:hover {
    cursor: pointer;
    background: rgb(220, 220, 220); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
